@page "/about"

<h3>About</h3>

<div>
    <p class="about_text">
        This is a simple app which declares where in the world it is 5 PM right now.  It states which timezone and countries where it is 5 PM and where it will be 5PM next.  It was developed uinsg Blazor WASM .NET 7.
    </p>

    <table>
        <tr>
            <td>
                View the source code <a href="https://github.com/johnt84/5PMSomewhereApp" class="underline font-bold">here</a>
            </td>
        </tr>
    </table>
</div>
